<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <script src="https://kit.fontawesome.com/f8991e1757.js" crossorigin="anonymous"></script>
</head>

<body>
    <% include components/navbar.ejs %>

        <main class="ml-[15rem] h-screen w-full py-2 px-5">
            
        </main>

</body>

</html>